<footer class="footer">
	<div class="footer-sponsor">
		<a id="gruppe-link-sponsor1" target="_blank" rel="noopener noreferrer" class="button button--footer">Platzhalter Sponsor</a>
	</div>
	<div class="footer-sponsor">
		<a id="gruppe-link-sponsor2" target="_blank" rel="noopener noreferrer" class="button button--footer">Platzhalter Sponsor</a>
	</div>
	
	<div class="footer-content">
		<p>© 2026 TTF Laudenbach</p>
		
		<div class="footer-links">
			<a href="/TTF-Laudenbach/pages/kontakt.html">Kontakt</a>
			<a href="/TTF-Laudenbach/pages/footer/impressum.html">Impressum</a>
			<a href="/TTF-Laudenbach/pages/footer/datenschutz.html">Datenschutz</a>
		</div>
	</div>
	
	<div class="footer-sponsor">
		<a id="gruppe-link-sponsor3" target="_blank" rel="noopener noreferrer" class="button button--footer">Platzhalter Sponsor</a>
	</div>
	<div class="footer-sponsor">
		<a id="gruppe-link-sponsor4" target="_blank" rel="noopener noreferrer" class="button button--footer">Platzhalter Sponsor</a>
	</div>
</footer>
