<div class="top-bar">
  <header class="top-bar">
    <img src="/TTF-Laudenbach/assets/images/TTF-Laudenbach_Logo.png" class="logo" alt="TTF Laudenbach">
    <div class="header-text">
      <h1>TTF Laudenbach</h1>
      <p>Willkommen bei den Tischtennis-Freunden Laudenbach</p>
    </div>
  </header>
  <nav aria-label="Hauptnavigation">
    <ul class="menu">
      <li><a href="/TTF-Laudenbach/index.html">Startseite</a></li>
      <li><a href="/TTF-Laudenbach/pages/unserVerein/unserVerein.html">Unser Verein</a></li>
      <li class="dropdown">
        <a href="/TTF-Laudenbach/pages/aktiverSpielbetrieb/aktiverSpielbetrieb.html">Aktiver Spielbetrieb</a>
        <ul class="submenu">
          <li><a href="/TTF-Laudenbach/pages/aktiverSpielbetrieb/herren1.html">1. Herrenmannschaft</a></li>
          <li><a href="/TTF-Laudenbach/pages/aktiverSpielbetrieb/herren2.html">2. Herrenmannschaft</a></li>
          <li><a href="/TTF-Laudenbach/pages/aktiverSpielbetrieb/herren3.html">3. Herrenmannschaft</a></li>
          <li><a href="/TTF-Laudenbach/pages/aktiverSpielbetrieb/jugend1.html">1. Jugendmannschaft</a></li>
          <li><a href="/TTF-Laudenbach/pages/aktiverSpielbetrieb/jugend2.html">2. Jugendmannschaft</a></li>
          <li><a href="/TTF-Laudenbach/pages/aktiverSpielbetrieb/alleMannschaften.html">Alle Mannschaften</a></li>
          <li><a href="/TTF-Laudenbach/pages/aktiverSpielbetrieb/ewigeRangliste.html">Ewige Rangliste</a></li>
        </ul>
      </li>
      <li><a href="/TTF-Laudenbach/pages/vereinsmitgliedschaft.html">Vereinsmitgliedschaft</a></li>
      <li class="dropdown">
        <a href="/TTF-Laudenbach/pages/maintenance.html">Dokumente</a>
        <ul class="submenu">
          <li><a href="/TTF-Laudenbach/pages/maintenance.html" target="_blank" rel="noopener noreferrer">Historische Fotos</a></li>
          <li><a href="/TTF-Laudenbach/pages/maintenance.html" target="_blank" rel="noopener noreferrer">Newsletter</a></li>
          <li><a href="/TTF-Laudenbach/pages/unserVerein/04.05.2011_TTF_Satzung_v1.1.pdf" target="_blank" rel="noopener noreferrer">Satzung</a></li>
          <li><a href="/TTF-Laudenbach/pages/dokumente/TTF-Beitrittserklaerung_und_Einzugsermaechtigung_20140115.pdf" target="_blank" rel="noopener noreferrer">Mitgliedschaft</a></li>
        </ul>
      </li>
      <li><a href="/TTF-Laudenbach/pages/sponsoren.html">Sponsoren</a></li>
      <li><a href="/TTF-Laudenbach/pages/links.html">Links</a></li>
    </ul>
  </nav>
</div>
